<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Game</title>

</head>
<body id = 'index'>
<div id = 'name'><h1>Game of life</h1></div>
<%= javascript_include_tag 'game' %>
<div id = 'counter'></div>
</body>
</html>